<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <EmailList>
    <Email>Jhultink@bdo.com</Email>
    <!--<Email>LBremer@bdo.com</Email>
    <Email>CMersino@bdo.com</Email>
    <Email>BAbraham@bdo.com</Email>
    <Email>LMarzorati@bdo.com</Email>
    <Email>JAnderson@bdo.com</Email>
    <Email>MJager@bdo.com</Email>
    <Email>DCalkins@bdo.com</Email>
    <Email>KReitsma@bdo.com</Email>-->
  </EmailList>
  <XboxKey>5eacb813880234cf409420f0a7254c0d5339bd06</XboxKey>
  <DefaultExcuse>Working from home</DefaultExcuse>
  <SteamKey>B7DACA0FD23C76B59D118788B4FDFB50</SteamKey>
  <Users>
    <User>
      <Name>Jaredt</Name>
      <SteamId>76561198091242905</SteamId>
      <Email>JHultink@bdo.com</Email>
      <WFHCutoff>1:00 AM</WFHCutoff>
      <Excuses>
      </Excuses>
      <Signature></Signature>
    </User>

    <User>
      <Name>Luke</Name>
      <SteamId>76561198259665601</SteamId>
      <Email>LBremer@bdo.com</Email>
      <WFHCutoff>2:00 AM</WFHCutoff>
      <Excuses>
        <Excuse>Sleep is not needed and games will not keep me from work</Excuse>
        <Excuse>Steam lies, but really WFH</Excuse>
      </Excuses>
      <Signature>
        <p style="font-size: 14px; font-family:Calibri;">
          Luke Bremer <br />Software Engineer I <br />616-802-1139 (Direct)    400-1139 (Internal) <br />lbremer@bdo.com <br /><br />BDO <br />770 Kenmoor SE, Suite 300 <br />Grand Rapids, MI 49546 <br />UNITED STATES <br />616-575-4236 <br />www.bdo.com <br />
        </p>
      </Signature>
    </User>

    <User>
      <Name>Chad</Name>
      <SteamId>76561198260326031</SteamId>
      <Email>CMersino@bdo.com</Email>
      <WFHCutoff>1:00 AM</WFHCutoff>
      <XboxId>2533274800054518</XboxId>
      <Excuses>
        <Excuse>ZZZ.... ZZZZ.... ZZ.. *(Waho)*. WFH today #pajamaParty #noSleep #noPants #cerealForEveryMeal</Excuse>
      </Excuses>
      <Signature></Signature>
    </User>

    <User>
      <Name>Ben</Name>
      <SteamId>76561197978648785</SteamId>
      <Email>BAbraham@bdo.com</Email>
      <WFHCutoff>1:00 AM</WFHCutoff>
      <Excuses>
        <Excuse>I played too many video games last night and I will be working from home</Excuse>
      </Excuses>
      <Signature></Signature>
    </User>

    <User>
      <Name>Louis</Name>
      <SteamId>76561198042167736</SteamId>
      <Email>LMarzorati@bdo.com</Email>
      <WFHCutoff>1:00 AM</WFHCutoff>
      <Excuses>
        <Excuse>I played too many video games last night and I will be working from home</Excuse>
      </Excuses>
      <Signature></Signature>
    </User>

    <User>
      <Name>Jake</Name>
      <SteamId>76561198202799449</SteamId>
      <Email>JAnderson@bdo.com</Email>
      <WFHCutoff>1:00 AM</WFHCutoff>
      <Excuses>
        <Excuse>I played too many video games last night and I will be working from home</Excuse>
      </Excuses>
      <Signature></Signature>
    </User>
  </Users>
</Settings>